<%= form_tag root_path, :method => 'POST' do %>
    <div class="form-inline">
        <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50, class: 'form-control' %>
        <%= submit_tag 'Look Up Quote', class: 'btn btn-primary' %>
    </div>
<% end %>

<br>
<br>

<% if @stock_companyinfo || @stock_delayedquote %>
    <strong>Symbol: </strong><%= @stock_companyinfo['symbol'] %>
    <br>
    <strong>Company Name: </strong><%= @stock_companyinfo['companyName'] %>
    <br>
    <strong>Current Price: </strong><%= @stock_delayedquote['latestPrice'] %>
    <br>
    <strong>Sector: </strong><%= @stock_companyinfo['sector'] %>
    <br>
    <strong>Website: </strong><%= @stock_companyinfo['website'] %>
    <br>
    <strong>RSI: </strong><%= @rsi14 %>
     
<%elsif @nothing %>
    <%= @nothing %>
<% end %> 

<% if @error %>
    <%= @error %>
<% end %>